<% include ../partial/header%>
<!-- Content -->

<script type="text/javascript">
    $("#user").addClass("active");
</script>

<div class="page-content">

    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>Admin Panel</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <div class="content-area">
        <div class="container">
            <div class="row">


                <div class="col-md-3 col-sm-3 m-b30">
                    <div class="w3-box p-a20 border-1 bg-gray">

                        <div class="w3-info p-t20 text-center">
                            <h4 class="w3-title m-t0 text-uppercase">Courses Info</h4>
                            <h2 class="m-b0"> </h2>
                            <a href="admin/courses" class="site-button  m-t15">Manage</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 m-b30">
                    <div class="w3-box p-a20 border-1 bg-gray">

                        <div class="w3-info p-t20 text-center">
                            <h4 class="w3-title m-t0 text-uppercase"><a href="#">Shop Info</a></h4>
                            <h2 class="m-b0"></h2>
                            <a href="admin/shop" class="site-button  m-t15">Manage</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 m-b30">
                    <div class="w3-box p-a20 border-1 bg-gray">

                        <div class="w3-info p-t20 text-center">
                            <h4 class="w3-title m-t0 text-uppercase"><a href="#">Blog Info</a></h4>
                            <h2 class="m-b0"> </h2>
                            <a href="javascript:void(0)" class="site-button  m-t15">Manage</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 m-b30">
                    <div class="w3-box p-a20 border-1 bg-gray">

                        <div class="w3-info p-t20 text-center">
                            <h4 class="w3-title m-t0 text-uppercase"><a href="#">Event Info</a></h4>
                            <h2 class="m-b0"> </h2>
                            <a href="javascript:void(0)" class="site-button  m-t15">Manage</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 m-b30">
                    <div class="w3-box p-a20 border-1 bg-gray">

                        <div class="w3-info p-t20 text-center">
                            <h4 class="w3-title m-t0 text-uppercase"><a href="#">Gallery</a></h4>
                            <h2 class="m-b0"> </h2>
                            <a href="javascript:void(0)" class="site-button  m-t15">Manage</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 m-b30">
                    <div class="w3-box p-a20 border-1 bg-gray">

                        <div class="w3-info p-t20 text-center">
                            <h4 class="w3-title m-t0 text-uppercase"><a href="#">Coding Problems</a></h4>
                            <h2 class="m-b0"> </h2>
                            <a href="admin/codingProblems" class="site-button  m-t15">Manage</a>
                        </div>
                    </div>
                </div>







            </div>
        </div>
    </div>
</div>
<!-- Content END-->
<!-- JavaScript  files ========================================= -->
<% include ../partial/footer%>