<% include ../partial/header%>
<!-- Content -->

<script type="text/javascript">
    $("#user").addClass("active");
</script>

<div class="page-content">

    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>Courses Admin</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <div class="content-area">
        <div class="container">
            <div class="row">



                <ul id="masonry" class="w3-gallery-listing gallery-grid-4 gallery mfp-gallery w3-courses">
                    <% courses.forEach(function(course){%>
                    <li data-filter="facilities" class="card-container col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <div class="w3-box w3-gallery-box" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                            <div class="w3-media w3-img-overlay2 w3-img-effect zoom"> <img src="" style="width: 230px;height: 167px;" alt="">
                                <div class="w3-info-has p-a20  no-hover">
                                    <a href="/admin/courses/<%=course._id %>"> <%=course.name %>  </a>

                                </div>
                            </div>
                        </div>
                    </li>
                    <%})%>
                </ul>



                <!-- New Course -->
                <div class="col-sm-12">
                    <form class="p-a30 w3-form text-center text-center"action="/admin/newcourse" method="POST">
                        <h4>Register A NeW Course</h4>
                        <div class="panel panel-default">
                            <div class="panel-body form-horizontal payment-form">
                                <div class="form-group">
                                    <label for="concept" class="col-sm-3 control-label">Course Name</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-sm-3 control-label">Image</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="img">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Description</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="des">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec1 title</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec1title">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec1 detail</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec1detail">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec1 video</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec1video">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec2 title</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec2title">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec2 detail</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec2detail">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec2 video</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec2video">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec3 title</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec3title">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec3 detail</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec3detail">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec3 video</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec3video">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec4 title</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec4title">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec4 detail</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec4detail">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec4 video</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec4video">
                                    </div>
                                </div>







                                <div class="col-xs-12">
                                    <hr style="border:1px dashed #dddddd;">
                                    <button type="submit" class="btn btn-success btn-block">Register</button>
                                </div>


                            </div>
                        </div>
                    </form>
                </div> <!-- / New Course-->



            </div>
        </div>
    </div>
</div>
<!-- Content END-->
<!-- JavaScript  files ========================================= -->
<% include ../partial/footer%>