<% include ../partial/header%>
<!-- header END -->

<script type="text/javascript">
    $("#courses").addClass("active");
</script>

    <!-- Content -->
    <div class="page-content">

        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li>Courses</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <!-- contact area -->
        <div class="content bg-white">
            <!-- Faq -->
            <section class="section-full content-inner">
                <div class="container">
					<div class="row">
						<!-- Side bar start -->
						<div class="col-md-4 col-sm-4 col-lg-3 ">
							<aside  class="side-bar">




								<div class="widget widget_categories">
									<h4 class="widget-title">Categories List</h4>
									<ul>
										<li><a href="#">3D DESIGN</a>2 </li>
										<li><a href="#">GAME DESIGN</a>  2</li>
										<li><a href="#">OPEN SOURCE ELECTRONICS</a> 2 </li>
										<li><a href="#">PROGRAMMING LANGUAGE</a> 1</li>
										<li><a href="#">ROBOTICS</a> 1 </li>

									</ul>
								</div>




							</aside>
						</div>
						<!-- Side bar END -->
						<div class="col-md-8 col-sm-8 col-lg-9">
							<div class="row">
								<div class="col-md-12 m-b30">
									<div class="bg-gray p-a15 clearfix">
										<div class="row">
											<div class="col-md-8 col-sm-6">
												<h3 class="m-t10 m-b0">Our Courses</h3>
											</div>
											<div class="col-md-4 col-sm-6">
												<div class="search-bx">
													<form role="search" method="post">
														<div class="input-group">
															<input name="text" class="form-control" placeholder="Find Your Courses" type="text">
															<span class="input-group-btn">
															<button type="submit" class="site-button"><i class="fa fa-search"></i></button>
															</span>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">

								<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
									<div class="ow-carousel-entry w3-courses">
										<div class="ow-entry-media w3-img-effect zoom-slow">
											<a href="#"><img src="https://i2.wp.com/www.kiditech.org/wp-content/uploads/2017/09/flappy-bird-in-scratch.png?zoom=2&fit=2222%2C1260&ssl=1" alt=""></a>
											<div class="w3-post-meta">
												<ul>

													<li class="post-comment pull-right text-green font-weight-500">$ 400 </li>
												</ul>
											</div>
										</div>
										<div class="ow-entry-content p-a15">

											<div class="author-contain">
												<span>Tina</span>
											</div>
											<div class="course-title">
												<a href="/course/game-design-with-stratch">Grade 3-6: Game design with Stratch </a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
									<div class="ow-carousel-entry w3-courses">
										<div class="ow-entry-media w3-img-effect zoom-slow">
											<a href="#"><img src="https://i1.wp.com/www.kiditech.org/wp-content/uploads/2017/09/forest.jpg?zoom=2&fit=1024%2C600&ssl=1" alt="">
											</a>
											<div class="w3-post-meta">
												<ul>

													<li class="post-comment pull-right text-green font-weight-500">$ 400 </li>
												</ul>
											</div>
										</div>
										<div class="ow-entry-content p-a15">

											<div class="author-contain">
												<span>Tina</span>
											</div>
											<div class="course-title">
												<a href="/course/python-coding-with-game">Grade 5+: Python coding with Game</a>
											</div>
										</div>
									</div>
								</div>


								<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
									<div class="ow-carousel-entry w3-courses">
										<div class="ow-entry-media w3-img-effect zoom-slow">
											<a href="#"><img src="https://i0.wp.com/www.kiditech.org/wp-content/uploads/2017/09/Screen-Shot-2017-09-08-at-12.25.02-AM.png?zoom=2&fit=784%2C524&ssl=1" alt="">
											</a>
											<div class="w3-post-meta">
												<ul>

													<li class="post-comment pull-right text-green font-weight-500">$400</li>
												</ul>
											</div>
										</div>
										<div class="ow-entry-content p-a15">

											<div class="author-contain">
												<span>Tina</span>
											</div>
											<div class="course-title">
												<a href="/course/iot-with-raspberrypi">Grade 6+: IoT with Raspberry pi</a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
									<div class="ow-carousel-entry w3-courses">
										<div class="ow-entry-media w3-img-effect zoom-slow">
											<a href="#"><img src="https://i0.wp.com/www.kiditech.org/wp-content/uploads/2016/12/8940fd900e6ea55f89d1a20a39c08161_%E5%89%AF%E6%9C%AC.jpg?zoom=2&fit=593%2C395&ssl=1" alt="">
											</a>
											<div class="w3-post-meta">
												<ul>

													<li class="post-comment pull-right text-green font-weight-500">$ 400 </li>
												</ul>
											</div>
										</div>
										<div class="ow-entry-content p-a15">

											<div class="author-contain">
												<span>Tina</span>
											</div>
											<div class="course-title">
												<a href="/course/electrical-engineering-with-arduino">Grade 5+: Electrical Engineering with Arduino</a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
									<div class="ow-carousel-entry w3-courses">
										<div class="ow-entry-media w3-img-effect zoom-slow">
											<a href="#"><img src="https://i2.wp.com/www.kiditech.org/wp-content/uploads/2016/12/IMG_2474_%E5%89%AF%E6%9C%AC.jpg?zoom=2&fit=2839%2C1893&ssl=1" alt="">
											</a>
											<div class="w3-post-meta">
												<ul>

													<li class="post-comment pull-right text-green font-weight-500">$ 400 </li>
												</ul>
											</div>
										</div>
										<div class="ow-entry-content p-a15">

											<div class="author-contain">
												<span>Tina</span>
											</div>
											<div class="course-title">
												<a href="/course/robot-vex">Grade 3-5: Robot Vex IQ</a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
									<div class="ow-carousel-entry w3-courses">
										<div class="ow-entry-media w3-img-effect zoom-slow">
											<a href="#"><img src="https://i0.wp.com/www.kiditech.org/wp-content/uploads/2016/12/IMG_4615_%E5%89%AF%E6%9C%AC_%E5%89%AF%E6%9C%AC.jpg?zoom=2&fit=780%2C519&ssl=1" alt=""></a>
											<div class="w3-post-meta">
												<ul>

													<li class="post-comment pull-right text-green font-weight-500">$ 400 </li>
												</ul>
											</div>
										</div>
										<div class="ow-entry-content p-a15">

											<div class="author-contain">
												<span>Lucy</span>
											</div>
											<div class="course-title">
												<a href="/course/wonder-dash-and-dot">Grade K-3: Wonder Dash and Dot</a>
											</div>
										</div>
									</div>
								</div>



								<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
									<div class="ow-carousel-entry w3-courses">
										<div class="ow-entry-media w3-img-effect zoom-slow">
											<a href="#"><img src="https://i2.wp.com/www.kiditech.org/wp-content/uploads/2016/12/modified-2.jpg?zoom=2&fit=268%2C178&ssl=1" alt=""></a>
											<div class="w3-post-meta">
												<ul>

													<li class="post-comment pull-right text-green font-weight-500">$ 400 </li>
												</ul>
											</div>
										</div>
										<div class="ow-entry-content p-a15">

											<div class="author-contain">
												<span>Tina</span>
											</div>
											<div class="course-title">
												<a href="/course/game-design-with-unity">Grade 5+: Game design with Unity</a>
											</div>
										</div>
									</div>
								</div>


								<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
									<div class="ow-carousel-entry w3-courses">
										<div class="ow-entry-media w3-img-effect zoom-slow">
											<a href="#"><img src="https://i0.wp.com/www.kiditech.org/wp-content/uploads/2016/12/0626kid_15_%E5%89%AF%E6%9C%AC_%E5%89%AF%E6%9C%AC_%E5%89%AF%E6%9C%AC.jpg?zoom=2&fit=1147%2C765&ssl=1" alt=""></a>
											<div class="w3-post-meta">
												<ul>

													<li class="post-comment pull-right text-green font-weight-500">$ 400 </li>
												</ul>
											</div>
										</div>
										<div class="ow-entry-content p-a15">

											<div class="author-contain">
												<span>Tina</span>
											</div>
											<div class="course-title">
												<a href="/course/3d-design-and-printing">Grade 3+: 3D design and printing with Tinkercad</a>
											</div>
										</div>
									</div>
								</div>








							</div>
							<div class="clearfix">
								<div class="pagination-bx clearfix ">
									<ul class="pagination">
										<li class="previous"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
										<li class="active"><a href="#">1</a> </li>

										<li class="next"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
									</ul>
								</div>
							</div>
						
						</div>
						
					</div>
				</div>
            </section>
            <!-- Faq END -->
        </div>
        <!-- contact area  END -->
    </div>
    <!-- Content END-->

<!-- JavaScript  files ========================================= -->
<% include ../partial/footer%>