<% include ../partial/header%>
<!-- header END -->

<script type="text/javascript">
    $("#courses").addClass("active");
</script>

    <!-- Content -->
    <div class="page-content">

        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li>Courses</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <!-- contact area -->
        <div class="content bg-white">
            <!-- Faq -->
            <section class="section-full content-inner">
                <div class="container">
					<div class="row">
						<!-- Side bar start -->

						<!-- Side bar END -->
						<div class="col-md-10 col-sm-10 col-lg-10 col-md-offset-1">
							<div class="row">
								<div class="col-md-12 m-b30">
									<div class="bg-gray p-a15 clearfix">
										<div class="row">
											<div class="col-md-8 col-sm-6">
												<h3 class="m-t10 m-b0">Our Courses</h3>
											</div>
											<div class="col-md-4 col-sm-6">
												<div class="search-bx">

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">



                                <% courses.forEach(function(course){%>
								<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
									<div class="ow-carousel-entry w3-courses"style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
										<div class="ow-entry-media w3-img-effect zoom-slow">
											<img src="<%=course.img %>" style="height: 150px" alt="">
											<div class="w3-post-meta">
												<ul>

													<li class="post-comment pull-right text-green font-weight-500">$ <%=course.price %> </li>
												</ul>
											</div>
										</div>
										<div class="ow-entry-content p-a15">


											<div class="course-title">
												<a href="/course/<%=course._id %>"><%=course.name %> </a>
											</div>
										</div>
									</div>
								</div>
                                <%})%>

							</div>
							<div class="clearfix">
								<div class="pagination-bx clearfix ">
									<ul class="pagination">
										<li class="previous"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
										<li class="active"><a href="#">1</a> </li>

										<li class="next"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
									</ul>
								</div>
							</div>
						
						</div>
						
					</div>
				</div>
            </section>
            <!-- Faq END -->
        </div>
        <!-- contact area  END -->
    </div>
    <!-- Content END-->

<!-- JavaScript  files ========================================= -->
<% include ../partial/footer%>