<% include ../partial/header%>
<!-- header END -->

<script src="https://checkout.stripe.com/checkout.js"></script>
<!-- Content -->
<div class="page-content">

	<!-- Breadcrumb row -->
	<div class="breadcrumb-row">
		<div class="container">
			<ul class="list-inline">
				<li><a href="#">Home</a></li>
				<li>Course Enrollment</li>
			</ul>
		</div>
	</div>
	<!-- Breadcrumb row END -->
	<!-- contact area -->
	<div class="content bg-white">


<div class="container" style="width: 80%;margin: 0 auto">
	<div class="row">

		<!-- panel preview -->
		<div class="col-sm-12">













		</div> <!-- / panel preview -->




	</div>

	</div>
</div>

</div>


<!-- JavaScript  files ========================================= -->
<% include ../partial/footer%>