<% include partial/header%>

<script type="text/javascript">
    $("#about").addClass("active");
</script>

    <!-- Content -->
    <div class="page-content">

        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li>About us</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->

		<div class="container" style="padding-top: 3%">

		<!-- Title separator style 2 -->
		<div class="p-a30 bg-white m-b40">
			<div class="section-head text-left">
				<h2 class="text-uppercase">WHO WE ARE</h2>
				<div class="w3-separator bg-primary"></div>
				<p>Kiditech is an innovative educational 501(c)(3) non-profit organization focusing on providing technology enrichment for K-12 students.

					In 2016, bay area engineer parents from tech giants like Amazon, Apple, Visa, Linkedin, Broadcom etc. founded Kiditech.org over the garage, we are fan of doing cool things like DIY Robots, 3D design & printing, coding, designing a 3D cool game.

					As parents, we believe the experience of learning technology is fun,Immersed, and intuitive. Kids will gain engineering and coding skill, logical thinking, teamwork, confidence, patience, persistence through project-based fun projects.

					Kiditech believe equal eduation, and would provide scholarship for underprivileged Students, please refer to scholarship application page for detail.</p>
			</div>
			<div class="section-content"></div>
		</div>
		<!-- Title separator style 2 END -->

		<!-- Title separator style 2 -->
		<div class="p-a30 bg-white m-b40">
			<div class="section-head text-left">
				<h2 class="text-uppercase">WHAT WE DO</h2>
				<div class="w3-separator bg-primary"></div>
				<p>Kiditech provides mulitiple-level technology immersed curriculum to global K-12 students, including Robots (from Wonder dash to DIY Robots), Drone design, 3D design & Printing, IOT with open source hardware, Game design (from Stratch to 3D AR/VR game), Artificial intelligence etc.

					Tech explorers/ Grade K-2:
					Wonder Dash and Dot level 1-2;
					Vex Hexbug level 1-2.

					Tech pioneers/ Grade 3-5:
					Vex IQ Robot level 1-2;
					Stratch game design level 1-2.

					Tech innovators/ Grade 5+:
					IoT with Arduino level 1-2;
					Vex EDR/DIY robots level 1-2;
					Game design with Unity level 1-2;
					3D design and printing level 1-2.</p>
			</div>
			<div class="section-content"></div>
		</div>
		<!-- Title separator style 2 END -->
		</div>
        <!-- contact area -->
        <div class="content">
			<!-- Our Awesome Services -->
			<div class="section-full awesome-services bg-white content-inner">
				<div class="container">
					<div class="section-content">
						<div class="row">
							<div class="col-md-12 text-center section-head">
								<h2 class="h2"> Our Awesome <span class="text-primary">Services</span></h2>
								<div class="w3-separator-outer "><div class="w3-separator bg-primary style-liner"></div></div>
								<div class="clear"></div>
							</div>
						</div>





						<div class="row">
							<div class="col-md-4 col-lg-3  col-sm-6">
								<div class="icon-bx-wraper bx-style-2 m-b30 p-a20 right m-r50 ">
									<div class="icon-bx-md radius bg-primary"><i class="fa fa-paint-brush"></i></div>
									<div class="icon-content p-r40">
										<h5 class="w3-tilte">Coding</h5>
										<div class="w3-separator-outer ">
											<div class="w3-separator bg-primary style-liner"></div>
										</div>
									</div>
								</div>
								<div class="icon-bx-wraper bx-style-2 m-b30 p-a20 right m-r50 ">
									<div class="icon-bx-md radius bg-primary"> <a href="#" class="icon-cell"><i class="fa fa-book"></i></a> </div>
									<div class="icon-content p-r40">
										<h5 class="w3-tilte">Cutting Edge Hardware</h5>
										<div class="w3-separator-outer ">
											<div class="w3-separator bg-primary style-liner"></div>
										</div>
									</div>
								</div>
								<div class="icon-bx-wraper bx-style-2 m-b30 p-a20 right m-r50 ">
									<div class="icon-bx-md radius bg-primary"> <a href="#" class="icon-cell"><i class="fa fa-user"></i></a> </div>
									<div class="icon-content p-r40">
										<h5 class="w3-tilte ">Qualified Teachers</h5>
										<div class="w3-separator-outer ">
											<div class="w3-separator bg-primary style-liner"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-lg-6 col-sm-2 text-center worker hidden-sm">
								<img src="https://i2.wp.com/www.kiditech.org/wp-content/uploads/2015/11/Summer-camp.jpg?zoom=2&fit=1513%2C1049&ssl=1" style="width: 500px"/>
							</div>
							<div class="col-md-4 col-lg-3 col-sm-6">
								<div class="icon-bx-wraper bx-style-2 m-b30 p-a20 left m-l50 ">
									<div class="icon-bx-md radius bg-primary"> <a href="#" class="icon-cell"><i class="fa fa-calendar"></i></a> </div>
									<div class="icon-content p-l40">
										<h5 class="w3-tilte ">Events</h5>
										<div class="w3-separator-outer ">
											<div class="w3-separator bg-primary style-liner"></div>
										</div>
									</div>
								</div>
								<div class="icon-bx-wraper bx-style-2 m-b30 p-a20 m-l50 left">
									<div class="icon-bx-md radius bg-primary"> <a href="#" class="icon-cell"><i class="fa fa-graduation-cap"></i></a> </div>
									<div class="icon-content p-l40">
										<h5 class="w3-tilte ">Online School </h5>
										<div class="w3-separator-outer ">
											<div class="w3-separator bg-primary style-liner"></div>
										</div>
									</div>
								</div>
								<div class="icon-bx-wraper bx-style-2 m-b10 p-a20 m-l50 left">
									<div class="icon-bx-md radius bg-primary"> <a href="#" class="icon-cell"><i class="fa fa-clock-o"></i></a> </div>
									<div class="icon-content p-l40">
										<h5 class="w3-tilte ">24/7 Support Center</h5>
										<div class="w3-separator-outer ">
											<div class="w3-separator bg-primary style-liner"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Our Awesome Services END -->
			<div class="section-full text-white bg-img-fix content-inner bg-primary choose-us" style="background-image:url(images/background/patter-bg.png);">
				<div class="container">
					<div class="section-head  text-center text-white">
						<h2 class="h2">Our Philosophy</h2>
						<div class="w3-separator-outer "><div class="w3-separator bg-white style-liner"></div></div>
					</div>
					<div class="row">
						<div class="col-md-3 col-sm-6 m-b30 ">
							<div class="icon-bx-wraper bx-style-1 p-a20 center radius-sm">
								<div class="icon-bx-md radius bg-white m-b20"> 
									<span class="icon-cell text-primary"><i class="fa fa-bus"></i></span> 
								</div>
								<div class="icon-content">
									<h4 class="w3-tilte">Learn by doing</h4>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 m-b30">
							<div class="icon-bx-wraper bx-style-1 p-a20 center radius-sm">
								<div class="icon-bx-md radius bg-white m-b20"> 
									<span class="icon-cell text-red"><i class="fa fa-child"></i></span> 
								</div>
								<div class="icon-content">
									<h4 class="w3-tilte">Imaginative</h4>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 m-b30">
							<div class="icon-bx-wraper bx-style-1 p-a20 center radius-sm">
								<div class="icon-bx-md radius bg-white m-b20"> 
									<span class="icon-cell text-yello"><i class="fa fa-apple"></i></span> 
								</div>
								<div class="icon-content">
									<h4 class="w3-tilte">Critical Thinking</h4>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 m-b30">
							<div class="icon-bx-wraper bx-style-1 p-a20 center radius-sm">
								<div class="icon-bx-md radius bg-white m-b20"> 
									<span class="icon-cell text-green"><i class="fa fa-smile-o"></i></span> 
								</div>
								<div class="icon-content">
									<h4 class="w3-tilte">Logic</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 col-sm-6 m-b30">
							<div class="icon-bx-wraper bx-style-1 p-a20 center radius-sm">
								<div class="icon-bx-md radius bg-white m-b20">
									<span class="icon-cell text-green"><i class="fa fa-bus"></i></span>
								</div>
								<div class="icon-content">
									<h4 class="w3-tilte">Open Source</h4>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 m-b30">
							<div class="icon-bx-wraper bx-style-1 p-a20 center radius-sm">
								<div class="icon-bx-md radius bg-white m-b20">
									<span class="icon-cell text-primary"><i class="fa fa-child"></i></span>
								</div>
								<div class="icon-content">
									<h4 class="w3-tilte">Programming</h4>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 m-b30">
							<div class="icon-bx-wraper bx-style-1 p-a20 center radius-sm">
								<div class="icon-bx-md radius bg-white m-b20">
									<span class="icon-cell text-red"><i class="fa fa-apple"></i></span>
								</div>
								<div class="icon-content">
									<h4 class="w3-tilte">Certified Tutors</h4>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 m-b10">
							<div class="icon-bx-wraper bx-style-1 p-a20 center radius-sm">
								<div class="icon-bx-md radius bg-white m-b20">
									<span class="icon-cell text-yello"><i class="fa fa-smile-o"></i></span>
								</div>
								<div class="icon-content">
									<h4 class="w3-tilte">Knowledge</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

        </div>
        <!-- contact area END -->
    </div>
    <!-- Content END-->
<!-- JavaScript  files ========================================= -->
<% include partial/footer%>