<% include partial/header%>
    <!-- Content -->
    <div class="page-content bg-white">

        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li>Career</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <!-- contact area -->
        <div class="content-area">
            <!-- Career -->
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-md-9 m-b30">
                        <h1 class="m-b20 m-t0">Openings </h1>
                        <div class="w3-separator bg-primary"></div>
                        <p><strong>Thank you for considering join us.</strong></p>
                        <h2 class="m-t30 m-b10 "> Dummy </h2>
                        <ul class="list-angle-right">
                            <li><strong>Work Status:</strong> Full time</li>
                            <li><strong>Qualifications:</strong> BE/B.Tech/MCA/BCA</li>
                            <li><strong>Experience:</strong> 1-3 Years</li>
                            <li><strong>Location:</strong> USA</li>
                        </ul>

                        <p>This is a dummy position
                        </p>
                        <h3>Our Offerings</h3>
                        <ul class="list-check-circle primary">
                            <li>Silicon Valley Start-up experience.</li>
                            <li>Amazing teammates.</li>
                            <li>Lastest technology stack.</li>

                        </ul>
                        <a href="#" class="site-button "><span>Apply Now</span><i class="fa fa-angle-right m-l10"></i></a>
                      </div>
                    <!-- Left part start END -->
                    <!-- Right part start -->
                    <div class="col-md-3">
                        <div class="icon-bx-wraper bx-style-1 p-a30 center m-b15">
                            <div class="icon-bx-sm text-primary bg-white radius border-2 m-b20"> <a href="#" class="icon-cell"><i class="fa fa-user"></i></a> </div>
                            <div class="icon-content">
                                <h5 class="w3-tilte text-uppercase">Instructor</h5>
                                <p>We are looking forward to you.</p>
                            </div>
                        </div>
                        <div class="icon-bx-wraper bx-style-1 p-a30 center m-b15">
                            <div class="icon-bx-sm text-primary bg-white radius border-2 m-b20"> <a href="#" class="icon-cell"><i class="fa fa-building-o"></i></a> </div>
                            <div class="icon-content">
                                <h5 class="w3-tilte text-uppercase">Manager</h5>
                                <p>We are looking forward to you.</p>
                            </div>
                        </div>
                        <div class="icon-bx-wraper bx-style-1 p-a20 left">
                            <div class="icon-bx-xs text-primary bg-white radius border-2 "> <a href="#" class="icon-cell"><i class="fa fa-code"></i></a> </div>
                            <div class="icon-content">
                                <h5 class="w3-tilte text-uppercase">Programmer</h5>
                                <p>We are looking forward to you.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Right part start END -->
                </div>
            </div>
            <!-- Career END -->
        </div>
        <!-- contact area END -->
    </div>
    <!-- Content END-->
<!-- JavaScript  files ========================================= -->
<% include partial/footer%>