<% include partial/header%>
    <!-- Content -->
    <div class="page-content">

        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li>Gallery Grid 2</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <div class="content-area">
            <!-- Left & right section start -->
            <div class="container">
                <!-- Gallery -->
                <div class="site-filters clearfix center  m-b40">
                    <ul class="filters" data-toggle="buttons">
                        <li data-filter="" class="btn active">
                            <input type="radio">
                            <a href="#" class="site-button-secondry active"><span>Show All</span></a> 
						</li>
                        <li data-filter="home" class="btn">
                            <input type="radio" >
                            <a href="#" class="site-button-secondry "><span>Swimming</span></a> 
						</li>
                        <li data-filter="office" class="btn">
                            <input type="radio">
                            <a href="#" class="site-button-secondry "><span>Spanish</span></a> 
						</li>
                        <li data-filter="commercial" class="btn">
                            <input type="radio">
                            <a href="#" class="site-button-secondry "><span>Lunch</span></a> 
						</li>
                        <li data-filter="window" class="btn">
                            <input type="radio">
                            <a href="#" class="site-button-secondry "><span>Playground</span></a> 
						</li>
                    </ul>
                </div>
                <div class="row">
                    <ul id="masonry" class="w3-gallery-listing gallery-grid-4 mfp-gallery">
                        <li data-filter="home" class="card-container col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="w3-box w3-gallery-box">
                                <div class="w3-thum w3-img-overlay1 w3-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="images/gallery/pic1.jpg"  alt=""> </a>
                                    <div class="overlay-bx">
                                        <div class="overlay-icon"> <a href="javascript:void(0);"> <i class="fa fa-link icon-bx-xs"></i> </a> <a href="images/gallery/pic1.jpg" class="mfp-link" title="Title will come here"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-filter="office" class="card-container col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="w3-box w3-gallery-box">
                                <div class="w3-thum w3-img-overlay1 w3-img-effect zoom-slow w3-img-effect zoom"> <a href="javascript:void(0);"> <img src="images/gallery/pic2.jpg"  alt=""> </a>
                                    <div class="overlay-bx">
                                        <div class="overlay-icon"> <a href="javascript:void(0);"> <i class="fa fa-link icon-bx-xs"></i> </a> <a  href="images/gallery/pic2.jpg" class="mfp-link" title="Title will come here"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-filter="children-aid" class="card-container col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="w3-box w3-gallery-box">
                                <div class="w3-thum w3-img-overlay1 w3-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="images/gallery/pic3.jpg"  alt=""> </a>
                                    <div class="overlay-bx">
                                        <div class="overlay-icon"> <a href="javascript:void(0);"> <i class="fa fa-link icon-bx-xs"></i> </a> <a href="images/gallery/pic3.jpg" class="mfp-link" title="Title will come here"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-filter="commercial" class="card-container col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="w3-box w3-gallery-box">
                                <div class="w3-thum w3-img-overlay1 w3-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="images/gallery/pic4.jpg"  alt=""> </a>
                                    <div class="overlay-bx">
                                        <div class="overlay-icon"> <a href="javascript:void(0);"> <i class="fa fa-link icon-bx-xs"></i> </a> <a  href="images/gallery/pic4.jpg" class="mfp-link" title="Title will come here"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-filter="window" class="card-container col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="w3-box w3-gallery-box">
                                <div class="w3-thum w3-img-overlay1 w3-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="images/gallery/pic5.jpg"  alt=""> </a>
                                    <div class="overlay-bx">
                                        <div class="overlay-icon"> <a href="javascript:void(0);"> <i class="fa fa-link icon-bx-xs"></i> </a> <a  href="images/gallery/pic5.jpg" class="mfp-link" title="Title will come here"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-filter="apartment" class="card-container col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="w3-box w3-gallery-box">
                                <div class="w3-thum w3-img-overlay1 w3-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="images/gallery/pic6.jpg"  alt=""> </a>
                                    <div class="overlay-bx">
                                        <div class="overlay-icon"> <a href="javascript:void(0);"> <i class="fa fa-link icon-bx-xs"></i> </a> <a  href="images/gallery/pic6.jpg" class="mfp-link" title="Title will come here"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-filter="construction" class="card-container col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="w3-box w3-gallery-box">
                                <div class="w3-thum w3-img-overlay1 w3-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="images/gallery/pic1.jpg"  alt=""> </a>
                                    <div class="overlay-bx">
                                        <div class="overlay-icon"> <a href="javascript:void(0);"> <i class="fa fa-link icon-bx-xs"></i> </a> <a href="images/gallery/pic1.jpg" class="mfp-link" title="Title will come here"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-filter="home" class="card-container col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="w3-box w3-gallery-box">
                                <div class="w3-thum w3-img-overlay1 w3-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="images/gallery/pic2.jpg"  alt=""> </a>
                                    <div class="overlay-bx">
                                        <div class="overlay-icon"> <a href="javascript:void(0);"> <i class="fa fa-link icon-bx-xs"></i> </a> <a  href="images/gallery/pic2.jpg" class="mfp-link" title="Title will come here"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Gallery END -->
                <!-- Pagination start -->
                <div class="pagination-bx  clearfix ">
                    <ul class="pagination">
                        <li class="previous"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="next"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div>
                <!-- Pagination END -->
            </div>
            <!-- Left & right section  END -->
        </div>
    </div>
    <!-- Content END-->
<!-- JavaScript  files ========================================= -->
<% include partial/footer%>