<% include partial/header%>
    <!-- Content -->
    <div class="page-content bg-white">

        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li>Help Desk</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <!-- contact area -->
        <div class="content-area">
            <!-- Career -->
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-md-9">
                        <h1 class="m-b20 m-t0">Education & Care Instructions </h1>
                        <div class="w3-separator bg-primary"></div>
                        <p><strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                            standard dummy text ever since the  when an unknown printer took a galley of type and scrambled it to make a 
                            type specimen book. </strong></p>
                        <h2 class="m-t30 m-b10 ">Business Development Manager</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                            text ever since the  when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is 
                            simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="icon-bx-wraper bx-style-1 p-a20 left m-b30">
									<div class="bg-primary icon-bx-xs m-b20 "> 
										<span class="icon-cell">
											<i class="fa fa-paint-brush"></i>
										</span> 
									</div>
									<div class="icon-content">
										<h5 class="w3-tilte ">Special Education</h5>
										<p>Lorem ipsum dolor sit adipiscing sed diam nonummy end [...]</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="icon-bx-wraper bx-style-1 p-a20 left m-b30">
									<div class="bg-primary icon-bx-xs m-b20"> 
										<span class="icon-cell">
											<i class="fa fa-book"></i>
										</span> 
									</div>
									<div class="icon-content">
										<h5 class="w3-tilte ">Full Day Session</h5>
										<p>Lorem ipsum dolor sit adipiscing sed diam nonummy end [...]</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="icon-bx-wraper bx-style-1 p-a20 left m-b30">
									<div class="bg-primary icon-bx-xs m-b20"> 
										<span class="icon-cell">
											<i class="fa fa-user"></i>
										</span> 
									</div>
									<div class="icon-content">
										<h5 class="w3-tilte ">Qualified Teachers</h5>
										<p>Lorem ipsum dolor sit adipiscing sed diam nonummy end [...]</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="icon-bx-wraper bx-style-1 p-a20 left m-b30">
									<div class="bg-primary icon-bx-xs m-b20 "> 
										<span class="icon-cell">
											<i class="fa fa-clock-o"></i>
										</span> 
									</div>
									<div class="icon-content">
										<h5 class="w3-tilte ">24/7 Support Center</h5>
										<p>Lorem ipsum dolor sit adipiscing sed diam nonummy end [...]</p>
									</div>
								</div>
							</div>
						</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                            text ever since the  when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <h3>Tips </h3>
                        <ul class="list-check-circle primary">
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</li>
                            <li>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</li>
                            <li>Printer took a galley of type and scrambled it to make a type specimen book. </li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the dummy book. </li>
                            <li>Eorem ipsum dolor sit amete printing and typesetting industry. </li>
                        </ul>
                        
                        <h2 class="m-t30 m-b10 ">Education Development</h2>
                        
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                            text ever since the  when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply 
                            dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the  when an 
                            unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
                            the industry's standard dummy text ever since the  when an unknown printer took a galley of type and 
                            scrambled it to make a type specimen book. </p>
                        <h3>Our Help </h3>
                        <ul class="list-check-circle primary">
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</li>
                            <li>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</li>
                            <li>Printer took a galley of type and scrambled it to make a type specimen book. </li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</li>
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the dummy book. </li>
                            <li>Eorem ipsum dolor sit amete printing and typesetting industry. </li>
                        </ul>
                        
						</div>
                    <!-- Left part start END -->
                    <!-- Right part start -->
                    <div class="col-md-3">
                        <div class="icon-bx-wraper bx-style-1 p-a30 center m-b30">
                            <div class="icon-bx-sm text-primary bg-white radius border-2 m-b20"> <a href="#" class="icon-cell"><i class="fa fa-user"></i></a> </div>
                            <div class="icon-content">
                                <h5 class="w3-tilte text-uppercase">Recent Highlights</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod [...]</p>
                            </div>
                        </div>
                        <div class="icon-bx-wraper bx-style-1 p-a30 center m-b30">
                            <div class="icon-bx-sm text-primary bg-white radius border-2 m-b20"> <a href="#" class="icon-cell"><i class="fa fa-building-o"></i></a> </div>
                            <div class="icon-content">
                                <h5 class="w3-tilte text-uppercase">Recent Highlights</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod [...]</p>
                            </div>
                        </div>
                        <div class="icon-bx-wraper bx-style-1 p-a20 left">
                            <div class="icon-bx-xs text-primary bg-white radius border-2 "> <a href="#" class="icon-cell"><i class="fa fa-code"></i></a> </div>
                            <div class="icon-content">
                                <h5 class="w3-tilte text-uppercase">Content title</h5>
                                <p>Lorem ipsum dolor sit elit nonummy dolor is euismod end [...]</p>
                            </div>
                        </div>
                    </div>
                    <!-- Right part start END -->
                </div>
            </div>
            <!-- Career END -->
        </div>
        <!-- contact area END -->
    </div>
    <!-- Content END-->
    <!-- JavaScript  files ========================================= -->
    <% include partial/footer%>