<% include partial/header%>
	<!-- header END -->

<script type="text/javascript">
    $("#home").addClass("active");
</script>
    <!-- Content -->
    <div class="page-content">
		<!-- Slider -->
		<div class="main-slider slider-1 style-two default-banner">
			<div class="tp-banner-container">
				<div class="tp-banner" >
					<div id="dz_rev_slider_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="news-gallery36" data-source="gallery" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
						<!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
						<div id="dz_rev_slider_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
							<ul><!-- SLIDE  -->
								<li data-index="rs-100" data-transition="parallaxvertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="https://www.kiditech.org/wp-content/uploads/2017/03/pi_car-e1490074181838.png"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="A STUDY ON HAPPINESS" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="">
									<!-- MAIN IMAGE -->
									<img src="https://www.kiditech.org/wp-content/uploads/2016/12/IMG_4417_副本_副本_副本.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
									<!-- LAYERS -->
									<div class="tp-caption tp-shape tp-shapewrapper "
										 id="slide-100-layer-1"
										 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
										 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
										 data-width="full"
										 data-height="full"
										 data-whitespace="nowrap"
										 data-type="shape"
										 data-basealign="slide"
										 data-responsive_offset="off"
										 data-responsive="off"
										 data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
										 data-textAlign="['left','left','left','left']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 2;background-color:rgba(0, 0, 0, 0.2);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>
									<!-- LAYER NR. 1 -->
									<div class="tp-caption Newspaper-Subtitle  text-primary tp-resizeme"
										 id="slide-100-layer-2"
										 data-x="['left','left','left','left']"
										 data-hoffset="['50','50','50','30']"
										 data-y="['top','top','top','top']"
										 data-voffset="['200','200','220','170']"
										 data-fontsize="['40','35','20','20']"
										 data-lineheight="['45','40','25','25']"
										 data-width="['800','800','800','420']"
										 data-width="none"
										 data-height="none"
										 data-whitespace="nowrap"

										 data-type="text"
										 data-responsive_offset="on"

										 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
										 data-textAlign="['left','left','left','left']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"

										 style="z-index: 7; white-space: nowrap;text-transform:left; font-family:'Montserrat',sans-serif; font-weight:600;">Play with us!
									</div>
									<!-- LAYER NR. 2 -->
									<div class="tp-caption Newspaper-Title   tp-resizeme"
										 id="slide-100-layer-3"
										 data-x="['left','left','left','left']"
										 data-hoffset="['50','50','50','30']"
										 data-y="['top','top','top','top']"
										 data-voffset="['260','260','270','210']"
										 data-fontsize="['80','80','50','30']"
										 data-lineheight="['85','85','55','35']"
										 data-width="['1000','1000','1000','420']"
										 data-height="none"
										 data-whitespace="normal"

										 data-type="text"
										 data-responsive_offset="on"

										 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
										 data-textAlign="['left','left','left','left']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[10,10,10,10]"
										 data-paddingleft="[0,0,0,0]"

										 style="z-index: 6; white-space: normal;text-transform:left; font-weight:600; line-height:80px; font-family:'Montserrat',sans-serif; color:#fff;">Welcome to <span class="text-primary"> Kiditech </span></div>


									<!-- LAYER NR. 4 -->


								</li><!-- SLIDE  -->
								<li data-index="rs-200" data-transition="parallaxvertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="https://www.kiditech.org/wp-content/uploads/2016/12/8940fd900e6ea55f89d1a20a39c08161_副本.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="A STUDY ON HAPPINESS" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="">
									<!-- MAIN IMAGE -->
									<img src="https://www.kiditech.org/wp-content/uploads/2016/12/IMG_2474_副本.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
									<!-- LAYERS -->
									<div class="tp-caption tp-shape tp-shapewrapper "
										 id="slide-200-layer-1"
										 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
										 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
										 data-width="full"
										 data-height="full"
										 data-whitespace="nowrap"
										 data-type="shape"
										 data-basealign="slide"
										 data-responsive_offset="off"
										 data-responsive="off"
										 data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
										 data-textAlign="['left','left','left','left']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 2;background-color:rgba(0, 0, 0, 0.1);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>
									<!-- LAYER NR. 1 -->
									<div class="tp-caption Newspaper-Subtitle  text-primary tp-resizeme"
										 id="slide-200-layer-2"
										 data-x="['left','left','left','left']"
										 data-hoffset="['50','50','50','30']"
										 data-y="['top','top','top','top']"
										 data-voffset="['200','200','220','170']"
										 data-fontsize="['40','35','20','20']"
										 data-lineheight="['45','40','25','25']"
										 data-width="['800','800','800','420']"
										 data-width="none"
										 data-height="none"
										 data-whitespace="nowrap"

										 data-type="text"
										 data-responsive_offset="on"

										 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
										 data-textAlign="['left','left','left','left']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"

										 style="z-index: 7; white-space: nowrap;text-transform:left; font-family:'Montserrat',sans-serif; font-weight:600;">KID LOVE TECHNOLOGY
									</div>
									<!-- LAYER NR. 2 -->
									<div class="tp-caption Newspaper-Title   tp-resizeme"
										 id="slide-200-layer-3"
										 data-x="['left','left','left','left']"
										 data-hoffset="['50','50','50','30']"
										 data-y="['top','top','top','top']"
										 data-voffset="['260','260','270','210']"
										 data-fontsize="['80','80','50','30']"
										 data-lineheight="['85','85','55','35']"
										 data-width="['1000','1000','1000','420']"
										 data-height="none"
										 data-whitespace="normal"

										 data-type="text"
										 data-responsive_offset="on"

										 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
										 data-textAlign="['left','left','left','left']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[10,10,10,10]"
										 data-paddingleft="[0,0,0,0]"

										 style="z-index: 6; white-space: normal;text-transform:left; font-weight:600; line-height:80px; font-family:'Montserrat',sans-serif; color:#fff;">Learn to <span class="text-primary"> Code!</span></div>


								</li><!-- SLIDE  -->
								<li data-index="rs-300" data-transition="parallaxvertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="https://www.kiditech.org/wp-content/uploads/2016/12/modified-2.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="A STUDY ON HAPPINESS" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="">
									<!-- MAIN IMAGE -->
									<img src="https://www.kiditech.org/wp-content/uploads/2016/12/IMG_2470_副本.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
									<!-- LAYERS -->
									<div class="tp-caption tp-shape tp-shapewrapper "
										 id="slide-300-layer-1"
										 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
										 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
										 data-width="full"
										 data-height="full"
										 data-whitespace="nowrap"
										 data-type="shape"
										 data-basealign="slide"
										 data-responsive_offset="off"
										 data-responsive="off"
										 data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
										 data-textAlign="['left','left','left','left']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0 ,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 2;background-color:rgba(0, 0, 0, 0.2);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>
									<!-- LAYER NR. 1 -->
									<div class="tp-caption Newspaper-Subtitle  text-primary tp-resizeme"
										 id="slide-300-layer-2"
										 data-x="['left','left','left','left']"
										 data-hoffset="['50','50','50','30']"
										 data-y="['top','top','top','top']"
										 data-voffset="['200','200','220','170']"
										 data-fontsize="['40','35','20','20']"
										 data-lineheight="['45','40','25','25']"
										 data-width="['800','800','800','420']"
										 data-width="none"
										 data-height="none"
										 data-whitespace="nowrap"

										 data-type="text"
										 data-responsive_offset="on"

										 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
										 data-textAlign="['left','left','left','left']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"

										 style="z-index: 7; white-space: nowrap;text-transform:left; font-family:'Montserrat',sans-serif; font-weight:600;">The BEST TEACHER IS CURIOSITY.
									</div>
									<!-- LAYER NR. 2 -->
									<div class="tp-caption Newspaper-Title   tp-resizeme"
										 id="slide-300-layer-3"
										 data-x="['left','left','left','left']"
										 data-hoffset="['50','50','50','30']"
										 data-y="['top','top','top','top']"
										 data-voffset="['260','260','270','210']"
										 data-fontsize="['80','80','50','30']"
										 data-lineheight="['85','85','55','35']"
										 data-width="['1000','1000','1000','420']"
										 data-height="none"
										 data-whitespace="normal"

										 data-type="text"
										 data-responsive_offset="on"

										 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
										 data-textAlign="['left','left','left','left']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[10,10,10,10]"
										 data-paddingleft="[0,0,0,0]"

										 style="z-index: 6; white-space: normal;text-transform:left; font-weight:600; line-height:80px; font-family:'Montserrat',sans-serif; color:#fff;">Welcome to <span class="text-primary"> Kiditech </span></div>


								</li><!-- SLIDE  -->
							</ul>
							<div class="tp-bannertimer tp-bottom" style="height: 5px; background-color: rgba(0, 0, 0, 0.30);"></div>
						</div>
					</div><!-- END REVOLUTION SLIDER -->
				</div>
			</div>
		</div>
		<!-- Slider END -->



        <!-- About Company -->
        <div class="section-full bg-white content-inner-2">
            <div class="container">
                <div class="section-content">
                    <div class="row">
						<div class="col-md-4 col-sm-4">
							<div class="icon-bx-wraper bx-style-2 m-t40 m-b60 p-a30 center">
								<div class="icon-bx-sm bg-primary m-b20"> <a href="#" class="icon-cell"><i class="fa fa-user"></i></a> </div>
								<div class="icon-content p-t40">
									<h3 class="w3-tilte text-uppercase">who we are</h3>
									<p>Kiditech is an innovative educational 501(c)(3) non-profit organization focusing on providing technology enrichment for K-12 students.
									</p>
									<a class="site-button " href="/about">
										<span class="site-button-inr">Read More <i class="fa fa-arrow-circle-o-right"></i></span>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="icon-bx-wraper bx-style-2 m-t40 m-b60 p-a30 center">
								<div class="icon-bx-sm bg-primary m-b20"> <a href="#" class="icon-cell"><i class="fa fa-bank"></i></a> </div>
								<div class="icon-content p-t40">
									<h3 class="w3-tilte text-uppercase">WHAT WE DO</h3>
									<p>Kiditech provides mulitiple-level technology immersed curriculum to global K-12 students,including Robots, Drone design, 3D design & Printing, IOT with open source hardware, Game design (from Stratch to 3D AR/VR game) </p>
									<a class="site-button " href="/about">
										<span class="site-button-inr">Read More <i class="fa fa-arrow-circle-o-right"></i></span>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="icon-bx-wraper bx-style-2 m-t40 m-b60 p-a30 center">
								<div class="icon-bx-sm bg-primary m-b20"> <a href="#" class="icon-cell"><i class="fa fa-bar-chart"></i></a> </div>
								<div class="icon-content p-t40">
									<h3 class="w3-tilte text-uppercase">our vision</h3>
									<p> To spark imaginative learning, foster self-confidence and creativity and set our students on course for a life-long love of tech!”</p>
									<a class="site-button " href="/about">
										<span class="site-button-inr">Read More <i class="fa fa-arrow-circle-o-right"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>


		</div>
        <!-- About Company END -->
        <!-- Purchase Add -->
        <div class="section-full bg-img-fix content-inner-1 about-uni overlay-primary-dark">
            <div class="container" >
				<div class="row text-white">	
					<div class="col-md-8 col-sm-8">
						<h2 class="m-a0 text-uppercase">About Kiditech </h2>
						<p class="m-b0"><p style="text-align: justify">Kiditech is an innovative educational 501(c)(3) non-profit organization focusing on providing technology enrichment for K-12 students.

							In 2016, bay area engineer parents from tech giants like Amazon, Apple, Visa, Linkedin, Broadcom etc. founded Kiditech.org over the garage, we are fan of doing cool things like DIY Robots, 3D design & printing, coding, designing a 3D cool game.

							As parents, we believe the experience of learning technology is fun,Immersed, and intuitive. Kids will gain engineering and coding skill, logical thinking, teamwork, confidence, patience, persistence through project-based fun projects.

							Kiditech believe equal eduation, and would provide scholarship for underprivileged Students, please refer to scholarship application page for detail.</p>
						</p>
					</div>



				</div>
			</div>	
		</div>
        <!-- Purchase Add END -->
        <!-- Popular Courses -->
        <div class="section-full content-inner-2 popular-courses bg-white">
            <div class="container">
                <div class="section-head text-center">
                    <h2 class="h2 text-uppercase">Popular <span class="text-primary"> Courses</span></h2>
					<div class="w3-separator-outer"><div class="w3-separator bg-primary style-liner"></div></div>
                </div>
                <div class="section-content ">
					<div class="site-filters clearfix center  m-b40">
						<ul class="filters" data-toggle="buttons">
							<li data-filter="" class="btn active">
								<input type="radio">
								<a href="#" class="site-button-secondry active radius-xl"><span>Show All</span></a> 
							</li>
							<li data-filter="events" class="btn">
								<input type="radio" >
								<a href="#" class="site-button-secondry radius-xl"><span>New Cources</span></a> 
							</li>
							<li data-filter="facilities" class="btn">
								<input type="radio">
								<a href="#" class="site-button-secondry radius-xl"><span>Popular Courses</span></a> 
							</li>
						</ul>
					</div>
					<div class="row">
						<ul id="masonry" class="w3-gallery-listing gallery-grid-4 gallery mfp-gallery w3-courses">
							<li data-filter="facilities" class="card-container col-lg-3 col-md-3 col-sm-4 col-xs-6">
								<div class="w3-box w3-gallery-box">
                                    <div class="w3-media w3-img-overlay2 w3-img-effect zoom"> <img src="https://i2.wp.com/www.kiditech.org/wp-content/uploads/2017/09/flappy-bird-in-scratch.png?zoom=2&fit=2222%2C1260&ssl=1" alt="">
                                        <div class="w3-info-has p-a20  no-hover">
                                            <a href="/course/game-design-with-stratch">Grade 3-6: Game design with Stratch </a>
											<div class="text-white">

											</div>
											<a class="site-button button-sm radius-sm m-t5" href="/course/game-design-with-stratch"> $400 </a>
                                        </div>
                                    </div>                                   
                                </div>
							</li>
							<li data-filter="events" class="card-container col-lg-3 col-md-3 col-sm-4 col-xs-6">
								<div class="w3-box w3-gallery-box">
                                    <div class="w3-media w3-img-overlay2 w3-img-effect zoom"> <img src="https://i1.wp.com/www.kiditech.org/wp-content/uploads/2017/09/forest.jpg?zoom=2&fit=1024%2C600&ssl=1" alt="">
                                        <div class="w3-info-has p-a20  no-hover">
                                            <a href="/course/python-coding-with-game">
												Grade 5+: Python coding with Game</a>
											<div class="text-white">

											</div>	
											<a class="site-button button-sm radius-sm m-t5" href="/course/python-coding-with-game"> $400 </a>
                                        </div>
                                    </div>                                   
                                </div>
							</li>
							<li data-filter="facilities" class="card-container col-lg-3 col-md-3 col-sm-4 col-xs-6">
								<div class="w3-box w3-gallery-box">
                                    <div class="w3-media w3-img-overlay2 w3-img-effect zoom"> <img src="https://i0.wp.com/www.kiditech.org/wp-content/uploads/2017/09/Screen-Shot-2017-09-08-at-12.25.02-AM.png?zoom=2&fit=784%2C524&ssl=1" alt="">
                                        <div class="w3-info-has p-a20  no-hover">
                                            <a href="/course/iot-with-raspberrypi">
												Grade 6+: IoT with Raspberry pi</a>
											<div class="text-white">

											</div>	
											<a class="site-button button-sm radius-sm m-t5" href="/course/iot-with-raspberrypi"> $400 </a>
                                        </div>
                                    </div>                                   
                                </div>
							</li>
							<li data-filter="events" class="card-container col-lg-3 col-md-3 col-sm-4 col-xs-6">
								<div class="w3-box w3-gallery-box">
                                    <div class="w3-media w3-img-overlay2 w3-img-effect zoom"> <img src="https://i0.wp.com/www.kiditech.org/wp-content/uploads/2016/12/8940fd900e6ea55f89d1a20a39c08161_%E5%89%AF%E6%9C%AC.jpg?zoom=2&fit=593%2C395&ssl=1" alt="">
                                        <div class="w3-info-has p-a20  no-hover">
                                            <a href="/course/electrical-engineering-with-arduino">Grade 5+: Electrical Engineering with Arduino</a>
											<div class="text-white">

											</div>	
											<a class="site-button button-sm red radius-sm m-t5" href="/course/electrical-engineering-with-arduino"> $400 </a>
                                        </div>
                                    </div>                                   
                                </div>
							</li>
							<li data-filter="facilities" class="card-container col-lg-3 col-md-3 col-sm-4 col-xs-6">
								<div class="w3-box w3-gallery-box">
                                    <div class="w3-media w3-img-overlay2 w3-img-effect zoom"> <img src="https://i2.wp.com/www.kiditech.org/wp-content/uploads/2016/12/IMG_2474_%E5%89%AF%E6%9C%AC.jpg?zoom=2&fit=2839%2C1893&ssl=1" alt="">
                                        <div class="w3-info-has p-a20  no-hover">
                                            <a href="/course/robot-vex">Grade 3-5: Robot Vex IQ</a>
											<div class="text-white">

											</div>	
											<a class="site-button button-sm radius-sm m-t5" href="/course/robot-vex"> $400 </a>
                                        </div>
                                    </div>                                   
                                </div>
							</li>
							<li data-filter="events" class="card-container col-lg-3 col-md-3 col-sm-4 col-xs-6">
								<div class="w3-box w3-gallery-box">
                                    <div class="w3-media w3-img-overlay2 w3-img-effect zoom"> <img src="https://i0.wp.com/www.kiditech.org/wp-content/uploads/2016/12/IMG_4615_%E5%89%AF%E6%9C%AC_%E5%89%AF%E6%9C%AC.jpg?zoom=2&fit=780%2C519&ssl=1" alt="">
                                        <div class="w3-info-has p-a20  no-hover">
                                            <a href="/course/wonder-dash-and-dot">Grade K-3: Wonder Dash and Dot </a>
											<div class="text-white">

											</div>	
											<a class="site-button button-sm red radius-sm m-t5" href="/course/wonder-dash-and-dot"> $400 </a>
                                        </div>
                                    </div>                                   
                                </div>
							</li>
							<li data-filter="facilities" class="card-container col-lg-3 col-md-3 col-sm-4 col-xs-6">
								<div class="w3-box w3-gallery-box">
                                    <div class="w3-media w3-img-overlay2 w3-img-effect zoom"> <img src="https://i2.wp.com/www.kiditech.org/wp-content/uploads/2016/12/modified-2.jpg?zoom=2&fit=268%2C178&ssl=1" alt="">
                                        <div class="w3-info-has p-a20  no-hover">
                                            <a href="/course/game-design-with-unity">Grade 5+: Game design with Unity</a>
											<div class="text-white">

											</div>	
											<a class="site-button button-sm radius-sm m-t5" href="/course/game-design-with-unity"> $ 400 </a>
                                        </div>
                                    </div>                                   
                                </div>
							</li>
							<li data-filter="events" class="card-container col-lg-3 col-md-3 col-sm-4 col-xs-6">
								<div class="w3-box w3-gallery-box">
                                    <div class="w3-media w3-img-overlay2 w3-img-effect zoom"> <img src="https://i0.wp.com/www.kiditech.org/wp-content/uploads/2016/12/0626kid_15_%E5%89%AF%E6%9C%AC_%E5%89%AF%E6%9C%AC_%E5%89%AF%E6%9C%AC.jpg?zoom=2&fit=1147%2C765&ssl=1" alt="">
                                        <div class="w3-info-has p-a20  no-hover">
                                            <a href="/course/3d-design-and-printing">Grade 3+: 3D design and printing with Tinkercad</a>
											<div class="text-white">

											</div>	
											<a class="site-button button-sm red radius-sm m-t5" href="/course/3d-design-and-printing"> $ 400 </a>
                                        </div>
                                    </div>                                   
                                </div>
							</li>
						</ul>
					</div>
                </div>
            </div>
        </div>
        <!-- Popular Courses END -->
		<!-- Why Choose Us -->
		<div class="section-full bg-img-fix content-inner overlay-primary-dark ">
            <div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-7 text-white">
						<div class="row">
							<div class="col-md-12 text-left text-white">
								<h2 class="h2 text-uppercase">Why Choose Us ?</h2>
								<div class="w3-separator-outer"><div class="w3-separator bg-white style-liner"></div></div>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.Lorem Ipsum is simply dummy text of the printing and typesetting....</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="m-b30 p-lr10 p-tb15 text-white text-center border-2">
									<span class="counter font-40 font-weight-300">100</span>
									<p class="m-a0 font-weight-500">Active Experts</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="m-b30 p-lr10 p-tb15 text-white text-center border-2">
									<span class="counter font-40 font-weight-300">1000</span>
									<p class="m-a0 font-weight-500">Happy Client</p>
								</div>
							</div>
							

							<div class="col-md-3 col-sm-6">
								<div class="m-b30 p-lr10 p-tb15 text-white text-center border-2">
									<span class="counter font-40 font-weight-300">1156</span>
									<p class="m-a0 font-weight-500">Completed Project</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-5">


					</div>
				</div>
            </div>
        </div>
		<!-- Why Choose Us End -->
		<!-- Meet Our Team -->
		<div class="section-full bg-white content-inner">
			<div class="container">
				<div class="section-head text-center ">
					<h2 class="h2 text-uppercase">  OUR <span class="text-primary">TEAM</span></h2>
					<div class="w3-separator-outer"><div class="w3-separator bg-primary style-liner"></div></div>
				</div>
				<div class="section-content text-center ">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="w3-box m-b30 border-1 hover w3-img-effect off-color ">
								<div class="w3-media  p-t20"> 
									<a href="javascript:;"> <img alt="" src="images/our-team/pic1.jpg" width="358" height="460"> </a>
								</div>
								<div class="p-a10">
									<h4 class="w3-title m-b10 font-weight-600"><a href="javascript:;">Nashid Martines</a></h4>
									<span class="w3-member-position">Academy Specialist</span>
									<div class="team-social-btn m-tb15">		
										<ul class="w3-social-icon">
											<li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
											<li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
											<li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
											<li><a class="fa fa-google-plus" href="javascript:void(0);"></a></li>
										</ul>
									</div>		
								</div>
									
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="w3-box m-b30 border-1 hover w3-img-effect off-color " >
								<div class="w3-media  p-t20"> <a href="javascript:;"> 
									<img alt="" src="images/our-team/pic2.jpg" width="358" height="460"> </a>
								</div>
								<div class="p-a10">
									<h4 class="w3-title m-b10 font-weight-600"><a href="javascript:;">Hackson Willingham</a></h4>
									<span class="w3-member-position">Academy Specialist</span> 
									<div class="team-social-btn m-tb15">		
										<ul class="w3-social-icon">
											<li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
											<li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
											<li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
											<li><a class="fa fa-google-plus" href="javascript:void(0);"></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="w3-box m-b30 border-1 hover w3-img-effect off-color ">
								<div class="w3-media  p-t20"> 
									<a href="javascript:;"> <img alt="" src="images/our-team/pic3.jpg" width="358" height="460"> </a>
								</div>
								<div class="p-a10 bg-white">
									<h4 class="w3-title m-b10 font-weight-600"><a href="javascript:;">Konne Backfield</a></h4>
									<span class="w3-member-position">Academy Specialist</span>
									<div class="team-social-btn m-tb15">		
										<ul class="w3-social-icon">
											<li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
											<li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
											<li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
											<li><a class="fa fa-google-plus" href="javascript:void(0);"></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="w3-box m-b10 border-1 hover w3-img-effect off-color ">
								<div class="w3-media  p-t20"> 
									<a href="javascript:;"> <img alt="" src="images/our-team/pic4.jpg" width="358" height="460"> </a>
								</div>
								<div class="p-a10">
									<h4 class="w3-title m-b10 font-weight-600"><a href="javascript:;">Konne Backfield</a></h4>
									<span class="w3-member-position">Academy Specialist</span> 
									<div class="team-social-btn m-tb15">		
										<ul class="w3-social-icon">
											<li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
											<li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
											<li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
											<li><a class="fa fa-google-plus" href="javascript:void(0);"></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>            
		<!-- Meet Our Team END -->



	
	<!-- Content End  -->


<!-- Footer -->
<footer class="site-footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 footer-col-4">
					<div class="widget widget_about">
						<div class="logo-footer"><img src="https://www.kiditech.org/wp-content/uploads/2016/12/Logomakr_8k02Xm.png" alt=""></div>

						<ul class="w3-social-icon border w3-social-icon-lg">
							<li><a href="javascript:void(0);" class="fa fa-facebook fb-btn"></a></li>
							<li><a href="javascript:void(0);" class="fa fa-twitter tw-btn"></a></li>
							<li><a href="javascript:void(0);" class="fa fa-linkedin link-btn"></a></li>
							<li><a href="javascript:void(0);" class="fa fa-pinterest-p pin-btn"></a></li>
						</ul>
					</div>
				</div>



				<div class="col-md-3 col-sm-6 footer-col-4">
					<div class="widget widget_services">
						<h4 class="m-b15 text-uppercase">Company</h4>
						<div class="w3-separator bg-primary"></div>
						<ul>
							<li><a href="/gallery">Gallery</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="/career">Join Us</a></li>

						</ul>
					</div>
				</div>



				<div class="col-md-3 col-sm-6 footer-col-4">
					<div class="widget widget_services">
						<h4 class="m-b15 text-uppercase">Support</h4>
						<div class="w3-separator bg-primary"></div>
						<ul>
							<li><a href="/faq">FAQS </a></li>
							<li><a href="/privacy-policy">Privacy-Policy</a></li>
							<li><a href="/help">Help Desk</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 footer-col-4">
					<div class="widget widget_getintuch">
						<h4 class="m-b15 text-uppercase">Contact Info</h4>
						<div class="w3-separator bg-primary"></div>
						<ul>
							<li><i class="fa fa-map-marker"></i><strong>address</strong>4500 Great America Parkway,
								STE300, Santa Clara, CA</li>
							<li><i class="fa fa-phone"></i><strong>phone</strong>(01) 408 673 8765</li>

						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- footer bottom part -->
	<div class="footer-bottom">
		<div class="container">
			<div class="row">

				<div class="col-md-12 text-center"> <span> Kiditech© Copyright 2017</span> </div>

			</div>
		</div>
	</div>
</footer>
<!-- Footer END-->
<!-- scroll top button -->
<button class="scroltop fa fa-arrow-up" ></button>
</div>


<script
		src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
		crossorigin="anonymous"></script>
<!-- jquery.min js -->
<script type="text/javascript"  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- bootstrap.min js -->
<script type="text/javascript"  src="/js/bootstrap-select.min.js"></script>
<!-- Form js -->
<script type="text/javascript"  src="/js/jquery.bootstrap-touchspin.js"></script>
<!-- Form js -->
<script type="text/javascript"  src="/js/magnific-popup.js"></script>
<!-- magnific-popup js -->
<script type="text/javascript"  src="/js/waypoints-min.js"></script>
<!-- waypoints js -->
<script type="text/javascript"  src="/js/counterup.min.js"></script>
<!-- counterup js -->
<script type="text/javascript" src="/js/imagesloaded.js"></script>
<!-- masonry  -->
<script type="text/javascript" src="/js/masonry-3.1.4.js"></script>
<!-- masonry  -->
<script type="text/javascript" src="/js/masonry.filter.js"></script>
<!-- masonry  -->
<script type="text/javascript"  src="/js/owl.carousel.js"></script>
<!-- OWL  Slider  -->
<script type="text/javascript"  src="/js/custom.js"></script>
<!-- custom fuctions  -->
<script type="text/javascript"  src="/js/dz.carousel.js"></script>

<script type="text/javascript" src="/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- sortcode fuctions  -->
<!-- revolution JS FILES -->
<script type="text/javascript" src="/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/revolution/js/jquery.themepunch.revolution.min.js"></script>
<!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript"  src="/js/rev.slider.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        dz_rev_slider_1();
    });	/*ready*/

</script>

</body>
</html>


