<% include partial/header%>
<!-- Content -->
    <div class="page-content bg-white" style="height: 100%">


    </div>
    <!-- Content END-->
<!-- JavaScript  files ========================================= -->
<% include partial/footer%>