<% include ../../partial/header%>
    <!-- Content -->
    <div class="page-content bg-white">

        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li>Event Details</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <!-- contact area -->
        <div class="content-area">
            <!-- Product details -->
            <div class="container woo-entry">
                <div class="row">
                    <div class="col-md-12">
						<div class="view m-b30 text-center">
							<h2 class="m-t0 m-b10 font-28 text-black">Bay Area Parent Education Fair</h2>
							<ul class="course-info">
								<li> 
									<i class="fa fa-clock-o"></i> <span> Start time</span> 
									<div class="course-info-dec">10:00 am, Saturday, September 16, 2017</div>
								</li>
								<li> 
									<i class="fa fa-clock-o"></i> <span> Finish Time</span> 
									<div class="course-info-dec">3:00 pm, Saturday, September 16, 2017</div>
								</li>
								<li> 
									<i class="fa fa-map-marker"></i> <span> Address</span> 
									<div class="course-info-dec">Westgate Center 1600 Saratoga Ave, San Jose, CA</div>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
				 <div class="row">		
					<div class="col-md-4 m-b30">
						<div class="p-lr40 p-t30 p-b40 clearfix mack-an-appointment white m-b30">
							<form method="post" class="dzForm" action="script/contact.php">
								<input value="Appoinment" name="dzToDo" type="hidden">
								<div class="row">
									<div class="text-center">
										<h3 class="m-t0 text-primary">RSVP</h3>
									</div>
									<div class="col-md-12">
										<div class="form-group">
												<input name="dzName" class="form-control" placeholder="Name" type="text">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
												<input name="dzEmail" class="form-control" placeholder="Email" type="text">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<div class="input-group">
												<textarea name="dzMessage" rows="2" placeholder="Message" class="form-control" required=""></textarea>
											</div>
										</div>
									</div>
									<div class="col-md-12 text-center">
										<div class="dzFormMsg"></div>
										<button name="submit" type="submit" value="Submit" class="site-button skew-secondry btn-block"><span>Submit</span></button>
									</div>
								</div>
							</form>
						</div>
						
						<div class="clearfix">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3174.1077443321346!2d-121.99037658469618!3d37.292580179850056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb5567daa06c5%3A0xd495b63c1e4d001b!2sWestgate+Center!5e0!3m2!1sen!2sus!4v1511067775713" style="border:0; width:100%; height:450px;" allowfullscreen></iframe>
							<div class="w3-divider bg-gray-dark"><i class="icon-dot c-square"></i></div>



						</div>
						
						
					</div>


					<div class="col-md-8">
						<div class="w3-media m-b30"> 
							<img style="height: 500px" src="https://i2.wp.com/www.kiditech.org/wp-content/uploads/2017/09/Screen-Shot-2017-09-08-at-11.18.09-PM.png?zoom=2&fit=608%2C504&ssl=1" alt="">
						</div>
						<!-- Tabs -->
                        <div class="w3-tabs border bg-tabs product-description">
                            <div class="tab-content">
                                <div class="tab-pane active">
									<h3 class="m-t0">ABOUT THIS EVENT </h3>
                                    <p class="m-b10">
                                        Kiditech joins 2017 Bay Area Parent Education Fair, would you like to meet our curriculum teacher and explore what’s interesting new program for your kids, we have new Game design, Robots program for K-12 studetns, come and join us! Gifits are available!</p>
									<h3>EVENT’S TIMELINE</h3>
									<h3>EVENT Content </h3>
                                    <ul class="list-check-circle primary">
                                        <li>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and </li>

                                    </ul>
									<div class="w3-divider bg-gray-dark"><i class="icon-dot c-square"></i></div>
									<div class="m-b10">
										<h5>Share :</h5>
										<div class="sharethis-inline-share-buttons"></div>

									</div>
                                </div>
                            </div>
                        </div>
                    </div>
					
					
				</div>
            </div>
            <!-- Product details -->
        </div>
        <!-- contact area  END -->
    </div>
    <!-- Content END-->
    <!-- JavaScript  files ========================================= -->
    <% include ../../partial/footer%>
