<% include ../partial/header%>


<script type="text/javascript">
    $("#problem").addClass("active");
</script>


<!-- Content -->
<div class="page-content bg-white">

    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>Problem list</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- contact area -->
    <div class="content-area">
        <!-- Career -->
        <div class="container">
            <div class="row">
                <!-- Left part start -->
                <table class="table table-striped">
                    <tr>
                        <th style="width: 5%">Completed</th>

                        <th style="width: 5%">#</th>
                        <th style="width: 50%">Title</th>
                        <th style="width: 10%">AC Rate</th>
                        <th style="width: 10%">Difficulty</th>
                    </tr>

                    <tr>

                        <th><i class="fa fa-check-square" aria-hidden="true"></i>

                        </th>
                        <th>1</th>
                        <th><a href="/coding/problem/">question 1</a></th>
                        <th>30%</th>
                        <th>Easy</th>

                    </tr>

                    <tr>
                        <th></th>
                        <th>2</th>
                        <th><a href="/coding/problem/">question 2 </a></th>
                        <th>30%</th>
                        <th>Easy</th>
                    </tr>

                    <tr>
                        <th></th>
                        <th>3</th>
                        <th><a href="/coding/problem/">question 3 </a></th>
                        <th>30%</th>
                        <th>Easy</th>
                    </tr>

                    <tr>
                        <th></th>
                        <th>4</th>
                        <th><a href="/coding/problem/">question 4 </a></th>
                        <th>30%</th>
                        <th>Easy</th>
                    </tr>



                </table>


            </div>
        </div>
        <!-- Career END -->
    </div>
    <!-- contact area END -->
</div>
<!-- Content END-->
<!-- JavaScript  files ========================================= -->
<% include ../partial/footer%>