<% include ../partial/header%>
    <!-- Content -->

<script type="text/javascript">
    $("#shop").addClass("active");
</script>

    <div class="page-content">

        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li>Products</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <!-- contact area -->
        <div class="content-area">
            <!-- Product -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 m-b30">
                        <div class="w3-box p-a20 border-1 bg-gray"style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                            <div class="w3-thum-bx w3-img-overlay1 w3-img-effect zoom"> <img src="https://i0.wp.com/www.kiditech.org/wp-content/uploads/2016/12/0626kid_15_%E5%89%AF%E6%9C%AC_%E5%89%AF%E6%9C%AC_%E5%89%AF%E6%9C%AC.jpg?resize=250%2C250&ssl=1" alt="">
                                <div class="overlay-bx">
                                    <div class="overlay-icon"> <a href="javascript:void(0)"> <i class="fa fa-cart-plus icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-search icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-heart icon-bx-xs"></i> </a> </div>
                                </div>
                            </div>
                            <div class="w3-info p-t20 text-center">
                                <h4 class="w3-title m-t0 text-uppercase"><a href="/shop/3d-printing-service">3D printing service</a></h4>

								<a href="/shop/3d-printing-service" class="site-button  m-t15">More</a>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
            <!-- Product END -->
        </div>
        <!-- contact area  END -->
    </div>
    <!-- Content END-->
<!-- JavaScript  files ========================================= -->
<% include ../partial/footer%>
