<!-- Footer -->
<footer class="site-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 footer-col-4">
                    <div class="widget widget_about">
                        <div class="logo-footer"><img src="https://www.kiditech.org/wp-content/uploads/2016/12/Logomakr_8k02Xm.png" alt=""></div>

                        <ul class="w3-social-icon border w3-social-icon-lg">
                            <li><a href="javascript:void(0);" class="fa fa-facebook fb-btn"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-twitter tw-btn"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-linkedin link-btn"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-pinterest-p pin-btn"></a></li>
                        </ul>
                    </div>
                </div>



                <div class="col-md-3 col-sm-6 footer-col-4">
                    <div class="widget widget_services">
                        <h4 class="m-b15 text-uppercase">Company</h4>
                        <div class="w3-separator bg-primary"></div>
                        <ul>
                            <li><a href="/gallery">Gallery</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/career">Join Us</a></li>

                        </ul>
                    </div>
                </div>



                <div class="col-md-3 col-sm-6 footer-col-4">
                    <div class="widget widget_services">
                        <h4 class="m-b15 text-uppercase">Support</h4>
                        <div class="w3-separator bg-primary"></div>
                        <ul>
                            <li><a href="/faq">FAQS </a></li>
                            <li><a href="/privacy-policy">Privacy-Policy</a></li>
                            <li><a href="/help">Help Desk</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 footer-col-4">
                    <div class="widget widget_getintuch">
                        <h4 class="m-b15 text-uppercase">Contact Info</h4>
                        <div class="w3-separator bg-primary"></div>
                        <ul>
                            <li><i class="fa fa-map-marker"></i><strong>address</strong> 4500 Great America Parkway,
                                STE300, Santa Clara, CA</li>
                            <li><i class="fa fa-phone"></i><strong>phone</strong>(01) 408 673 8765</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- footer bottom part -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">

                <div class="col-md-12 text-center"> <span>Kiditech © Copyright 2017</span> </div>

            </div>
        </div>
    </div>
</footer>
<!-- Footer END-->
<!-- scroll top button -->
<button class="scroltop fa fa-arrow-up" ></button>
</div>


<script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5a168bab7b0f3600122c229f&product=inline-share-buttons' async='async'></script>
<!-- jquery.min js -->
<script type="text/javascript"  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- bootstrap.min js -->
<script type="text/javascript"  src="/js/bootstrap-select.min.js"></script>
<!-- Form js -->
<script type="text/javascript"  src="/js/jquery.bootstrap-touchspin.js"></script>
<!-- Form js -->
<script type="text/javascript"  src="/js/magnific-popup.js"></script>
<!-- magnific-popup js -->
<script type="text/javascript"  src="/js/waypoints-min.js"></script>
<!-- waypoints js -->
<script type="text/javascript"  src="/js/counterup.min.js"></script>
<!-- counterup js -->
<script type="text/javascript" src="/js/imagesloaded.js"></script>
<!-- masonry  -->
<script type="text/javascript" src="/js/masonry-3.1.4.js"></script>
<!-- masonry  -->
<script type="text/javascript" src="/js/masonry.filter.js"></script>
<!-- masonry  -->
<script type="text/javascript"  src="/js/owl.carousel.js"></script>
<!-- OWL  Slider  -->
<script type="text/javascript"  src="/js/custom.js"></script>
<!-- custom fuctions  -->
<script type="text/javascript"  src="/js/dz.carousel.js"></script>


<div id="loading-area"></div>

</body>
</html>