<% include ../partial/header%>
<!-- Content -->

<script type="text/javascript">
    $("#user").addClass("active");
</script>

<div class="page-content">

    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>My Courses</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <div class="content-area">
        <div class="container">
            <div class="row">




                <ul id="masonry" class="w3-gallery-listing gallery-grid-4 gallery mfp-gallery w3-courses">
                    <% mycourses.forEach(function(course){%>
                    <li data-filter="facilities" class="card-container col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <div class="w3-box w3-gallery-box" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                            <div class="w3-media w3-img-overlay2 w3-img-effect zoom"> <img src="<%=course.img %>" style="width: 230px;height: 167px;" alt="">
                                <div class="w3-info-has p-a20  no-hover">
                                    <a href="/user/courses/<%=course._id %>"> <%=course.name %>  </a>

                                </div>
                            </div>
                        </div>
                    </li>
                    <%})%>
                </ul>




            </div>
        </div>
    </div>
</div>
<!-- Content END-->
<!-- JavaScript  files ========================================= -->
<% include ../partial/footer%>