<% include ../partial/header%>
    <!-- Content -->
    <div class="page-content">

        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li>Blog large image</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <div class="content-area">
            <div class="container">
                <!-- Blog half image -->
                <div class="blog-post blog-md clearfix date-style-4 event-post ">
                    <div class="w3-post-media w3-img-effect zoom-slow"> <a href="#"><img src="https://i2.wp.com/www.kiditech.org/wp-content/uploads/2017/09/Screen-Shot-2017-09-08-at-11.18.09-PM.png?zoom=2&fit=608%2C504&ssl=1" alt=""></a> </div>
                    <div class="w3-post-info">
                        <div class="w3-post-title ">
                            <h3 class="post-title"><a href="#">Bay Area Parent Education Fair</a></h3>
                        </div>
                        <div class="w3-post-meta ">
                            <ul>
                                <li class="post-date"> 
									<i class="fa fa-calendar"></i>
									<strong>16 </strong>
									<span> SEPTEMBER</span>
								</li>
                                <li class="post-author"><i class="fa fa-clock-o"></i><a href="#">10.00 AM - 3.00 PM</a> </li>
                                <li class="post-comment"><i class="fa fa-map-marker"></i> <a href="#"> WESTGATE CENTER 1600 SARATOGA AVE, SAN JOSE, CA
                                    </a> </li>
                            </ul>
                        </div>
                        <div class="w3-post-text">
                            <p>Kiditech joins 2017 Bay Area Parent Education Fair, would you like to meet our curriculum teacher and explore what’s interesting new program for your...</p>
                        </div>
                        <div class="w3-post-readmore"> 
							<a href="#" title="READ MORE" rel="bookmark" class="site-button-link">
								READ MORE<i class="fa fa-angle-double-right"></i>
							</a> 
						</div>
                    </div>
                </div>
                <!-- Blog half image -->
                <div class="blog-post blog-md clearfix date-style-4 event-post ">
                    <div class="w3-post-media w3-img-effect zoom-slow"> <a href="#"><img src="https://www.kiditech.org/wp-content/uploads/2015/11/Summer-camp.jpg" alt=""></a> </div>
                    <div class="w3-post-info">
                        <div class="w3-post-title ">
                            <h3 class="post-title"><a href="#">Kiditech Open house 2017 Fall</a></h3>
                        </div>
                        <div class="w3-post-meta ">
                            <ul>
                                <li class="post-date"> 
									<i class="fa fa-calendar"></i>
									<strong>09 </strong>
									<span> SEPTEMBER</span>
								</li>
                                <li class="post-author"><i class="fa fa-clock-o"></i><a href="#">2.00 PM - 4.00 PM</a> </li>
                                <li class="post-comment"><i class="fa fa-map-marker"></i> <a href="#">  SAN MATEO, CA, UNITED STATES</a> </li>
                            </ul>
                        </div>
                        <div class="w3-post-text">
                            <p>Kiditech is holding its 2017 fall semester open house in san mateo, CA!</p>
                        </div>
                        <div class="w3-post-readmore"> 
							<a href="#" title="READ MORE" rel="bookmark" class="site-button-link">
								READ MORE<i class="fa fa-angle-double-right"></i>
							</a> 
						</div>
                    </div>
                </div>

				<!-- Blog half image -->

				
                <!-- Blog half image END -->
                <!-- Pagination  -->
                <div class="pagination-bx clearfix ">
                    <ul class="pagination">
                        <li class="previous"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                        <li class="active"><a href="#">1</a> </li>

                        <li class="next"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div>
                <!-- Pagination END -->
            </div>
        </div>
    </div>
    <!-- Content END-->
<!-- JavaScript  files ========================================= -->
<% include ../partial/footer%>