<% include ../../partial/header%>
    <!-- Content -->
    <div class="page-content bg-white">

        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li>Course Details</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <!-- contact area -->
        <div class="content-area">
            <!-- Product details -->
            <div class="container woo-entry">
                <div class="row">
                    <div class="col-md-12">
						<div class="course-view text-center m-b30">
							<h2 class="m-t0 m-b10 font-28 text-black">Grade 3-5: Robot Vex IQ</h2>

						</div>
					</div>
				</div>
				 <div class="row">		
					<div class="col-md-4 m-b30">
						<div class="bg-gray p-a20">

							<div class="teacher-info border-top p-t30">
								<div class="teacher-pic text-center">
									<div class="w3-media"> 
										<a href="#"><img src="" alt=""></a>
									</div>
									<h4 class="text-black m-b5">Lucy Lu</h4>

									<div class="m-tb15">

									</div>
									<div class="w3-separator bg-primary"></div>


								</div>
							</div>
							<div class="w3-divider bg-gray-dark"><i class="icon-dot c-square"></i></div>


                            <div class="clearfix p-b15">
                                <span class="font-30 text-primary pull-left">Fee: 400</span>
                                <a href="/course/robot-vex/enroll" class="site-button pull-right">Take This Course</a>
                            </div>

						</div>
					</div>	
					<div class="col-md-8">
						<div class="w3-media m-b30"> 
							<a href="#"><img src="https://i2.wp.com/www.kiditech.org/wp-content/uploads/2016/12/IMG_2474_%E5%89%AF%E6%9C%AC.jpg?w=1280&ssl=1" alt=""></a>
						</div>
						<!-- Tabs -->
                        <div class="w3-tabs border bg-tabs product-description">
                            <ul class="nav nav-tabs w25 ">
                                <li class="active">
									<a data-toggle="tab" href="#description">
										<i class="fa fa-bookmark m-r10"></i>
										<span class="title-head">Description</span>
									</a>
								</li>
                                <li>
									<a data-toggle="tab" href="#curriculum">
										<i class="fa fa-cube"></i>
										<span class="title-head">Curriculum</span>
									</a>
								</li>

								<li>
									<a data-toggle="tab" href="#review">
										<i class="fa fa-comments"></i>
										<span class="title-head">Review </span> <span class="text-primary">(1)</span>
									</a>
								</li>
                            </ul>
                            <div class="tab-content">
                                <div id="description" class="tab-pane active">
									<h3 class="m-t0">ABOUT THIS COURSE</h3>
                                    <p class="m-b10">
										Inspire the engineering in your student as they design and build awesome machines with the Vex IQ Supper Kit and RobotC software. Using visual drag-and-drop/Text programming software, a range of sensors, and teamwork, student can build anything from a autonomous car to a claw robot. We get the creativity flowing right away in this hands-on, engaging course.</p>
									<p class="m-b10">In this class, students experiment and discover engineering basics via trial and error field testing. Rather than just “snapping parts together,” students learn critical thinking skills and modify their robot designs based on varying conditions. The course exposes students to more complex engineering techniques such as pulleys, inclined planes, and gear use. Let’s get building!</p>

									<br>
									<h3 class="m-t0">HARDWARE & SOFTWARE PLATFORM</h3>
									<p class="m-b10">Hardware: Vex IQ supper Kit
										Software: VexOS and RobotC programming</p>

									<br>
									<h3>LEARNING OUTCOMES</h3>
                                    <ul class="list-check-circle primary">
                                        <li>Programming concepts</li>
                                        <li>Robotics introduction and basics including sensors, pulleys, levers, gears and motors</li>
                                        <li>Engineering Concepts, hands-on building and problem solving</li>
                                        <li>Collaborative teamwork for multiple level challenge</li>
                                        <li>Presentation and pitch</li>
                                        <li>Patience and persistence</li>
                                    </ul>
									<div class="w3-divider bg-gray-dark"><i class="icon-dot c-square"></i></div>
									<div class="m-b10">
										<h5>Share :</h5>
										<div class="sharethis-inline-share-buttons"></div>

									</div>
                                </div>
                                <div id="curriculum" class="tab-pane">
									<h3 class="m-tb0">Curriculum</h3>
									<h5 class="text-primary">Lesson 3</h5>
									<table class="table" >
										<thead>
											<tr> 
												<th>Lecture</th> 
												<th>Unit</th> 
												<th class="text-right">Time</th> 
											</tr> 
										</thead>
                                        <tr>
                                            <td>
												<span><i class="fa fa-file-o m-r10"></i>Lecture 1. 1</span>
											</td>
                                            <td>Styling for mobile</td>
                                            <td class="text-right">
												<span><i class="fa fa-clock-o m-r10"></i> 00 : 10 : 00</span>
											</td>
                                        </tr>
                                        <tr>
                                            <td>
												<span><i class="fa fa-file-o m-r10"></i>Lecture 1. 2</span>
											</td>
                                            <td>Styling for mobile</td>
                                            <td class="text-right">
												<span><i class="fa fa-clock-o m-r10"></i> 00 : 20 : 00</span>
											</td>
                                        </tr>
                                        <tr>
                                            <td>
												<span><i class="fa fa-file-o m-r10"></i>Lecture 1. 3</span>
											</td>
                                            <td>Styling for mobile</td>
                                            <td class="text-right">
												<span><i class="fa fa-clock-o m-r10"></i> 02 : 10 : 05</span>
											</td>
                                        </tr>
                                    </table>
									<h5 class="text-primary">Lesson 2</h5>
									<table class="table" >
										<thead>
											<tr> 
												<th>Lecture</th> 
												<th>Unit</th> 
												<th class="text-right">Time</th> 
											</tr> 
										</thead>
                                        <tr>
                                            <td>
												<span><i class="fa fa-file-o m-r10"></i>Lecture 1. 1</span>
											</td>
                                            <td>Styling for mobile</td>
                                            <td class="text-right">
												<span><i class="fa fa-clock-o m-r10"></i> 00 : 10 : 00</span>
											</td>
                                        </tr>
                                        <tr>
                                            <td>
												<span><i class="fa fa-file-o m-r10"></i>Lecture 1. 2</span>
											</td>
                                            <td>Styling for mobile</td>
                                            <td class="text-right">
												<span><i class="fa fa-clock-o m-r10"></i> 00 : 20 : 00</span>
											</td>
                                        </tr>
                                        <tr>
                                            <td>
												<span><i class="fa fa-file-o m-r10"></i>Lecture 1. 3</span>
											</td>
                                            <td>Styling for mobile</td>
                                            <td class="text-right">
												<span><i class="fa fa-clock-o m-r10"></i> 02 : 10 : 05</span>
											</td>
                                        </tr>
										<tr>
                                            <td>
												<span><i class="fa fa-file-o m-r10"></i>Lecture 1. 1</span>
											</td>
                                            <td>Styling for mobile</td>
                                            <td class="text-right">
												<span><i class="fa fa-clock-o m-r10"></i> 00 : 10 : 00</span>
											</td>
                                        </tr>
                                        <tr>
                                            <td>
												<span><i class="fa fa-file-o m-r10"></i>Lecture 1. 2</span>
											</td>
                                            <td>Styling for mobile</td>
                                            <td class="text-right">
												<span><i class="fa fa-clock-o m-r10"></i> 00 : 20 : 00</span>
											</td>
                                        </tr>
                                        <tr>
                                            <td>
												<span><i class="fa fa-file-o m-r10"></i>Lecture 1. 3</span>
											</td>
                                            <td>Styling for mobile</td>
                                            <td class="text-right">
												<span><i class="fa fa-clock-o m-r10"></i> 02 : 10 : 05</span>
											</td>
                                        </tr>
                                    </table>
									<h5 class="text-primary">Lesson 1</h5>
									<table class="table" >
										<thead>
											<tr> 
												<th>Lecture</th> 
												<th>Unit</th> 
												<th class="text-right">Time</th> 
											</tr> 
										</thead>
                                        <tr>
                                            <td>
												<span><i class="fa fa-file-o m-r10"></i>Lecture 1. 1</span>
											</td>
                                            <td>Styling for mobile</td>
                                            <td class="text-right">
												<span><i class="fa fa-clock-o m-r10"></i> 00 : 10 : 00</span>
											</td>
                                        </tr>
                                        <tr>
                                            <td>
												<span><i class="fa fa-file-o m-r10"></i>Lecture 1. 2</span>
											</td>
                                            <td>Styling for mobile</td>
                                            <td class="text-right">
												<span><i class="fa fa-clock-o m-r10"></i> 00 : 20 : 00</span>
											</td>
                                        </tr>
                                        <tr>
                                            <td>
												<span><i class="fa fa-file-o m-r10"></i>Lecture 1. 3</span>
											</td>
                                            <td>Styling for mobile</td>
                                            <td class="text-right">
												<span><i class="fa fa-clock-o m-r10"></i> 02 : 10 : 05</span>
											</td>
                                        </tr>
                                    </table>
                                </div>



								<div id="review" class="tab-pane comments-area">

									<div class="row">
										<div class="col-md-4 col-sm-5 m-b30">
											<h5>Average Rating</h5>
											<div class="icon-bx-wraper bx-style-1 center p-a20">
												<h2 class="font-85 m-t0 m-b5 text-primary">5</h2>
												<div class="icon-content">
													<div class="star-rating">
														<div data-rating="5">
															<i class="fa fa-star" data-alt="1" title="regular"></i>
															<i class="fa fa-star" data-alt="2" title="regular"></i>
															<i class="fa fa-star" data-alt="3" title="regular"></i>
															<i class="fa fa-star" data-alt="4" title="regular"></i>
															<i class="fa fa-star" data-alt="5" title="regular"></i>
														</div>
													</div>
													<p>1 ratings</p>
												</div>
											</div>
										</div>
										<div class="col-md-8 col-sm-7 m-b30">
											<h5>Detailed Rating</h5>
											<div class="bar-rating">
												<ul class="bar-rating-chart icon-bx-wraper bx-style-1 p-a30">
													<li class="input-group">
														<span class="input-group-addon">5 stars</span>
														<div class="bar">
															<div class="bar-rat bg-primary" style="width:100%"></div>
														</div>
														<span class="input-group-addon">1</span>
													</li>
													<li class="input-group">
														<span class="input-group-addon">4 stars</span>
														<div class="bar">
															<div class="bar-rat bg-primary" style="width:0%"></div>
														</div>
														<span class="input-group-addon">0</span>
													</li>
													<li class="input-group">
														<span class="input-group-addon">3 stars</span>
														<div class="bar">
															<div class="bar-rat bg-primary" style="width:0%"></div>
														</div>
														<span class="input-group-addon">0</span>
													</li>
													<li class="input-group">
														<span class="input-group-addon">2 stars</span>
														<div class="bar">
															<div class="bar-rat bg-primary" style="width:0%"></div>
														</div>
														<span class="input-group-addon">0</span>
													</li>
													<li class="input-group">
														<span class="input-group-addon">1 stars</span>
														<div class="bar">
															<div class="bar-rat bg-primary" style="width:0%"></div>
														</div>
														<span class="input-group-addon">0</span>
													</li>
												</ul>
											</div>
										</div>
									</div>

									<div id="comments">
										<ol class="commentlist">

											<li class="comment">
												<div class="comment_container">
													<div class="comment-text">
														<div  class="star-rating">
															<div data-rating='3'> <i class="fa fa-star" data-alt="1" title="regular"></i> <i class="fa fa-star" data-alt="2" title="regular"></i> <i class="fa fa-star" data-alt="3" title="regular"></i> <i class="fa fa-star" data-alt="4" title="regular"></i> <i class="fa fa-star" data-alt="5" title="regular"></i> </div>
														</div>
														<p class="meta"> <strong class="author">Linuxi</strong> <span><i class="fa fa-clock-o"></i> Sep 7, 2017</span> </p>
														<div class="description">
															<p>I enjoyed it</p>
														</div>
													</div>
												</div>
											</li>

										</ol>
									</div>
									<div class="comment-respond" id="respond">
										<h3 class="comment-reply-title" id="reply-title">Leave a Reply <small> <a style="display:none;" href="#" id="cancel-comment-reply-link" rel="nofollow">Cancel reply</a> </small> </h3>
										<form class="comment-form" id="commentform" method="post" action="http://sedatelab.com/developer/donate/wp-comments-post.php">
											<p class="comment-form-author">
												<label for="author">Name <span class="required">*</span></label>
												<input type="text" value="Author" name="Author"  placeholder="Author" id="author">
											</p>

											<p class="comment-form-comment">
												<label for="comment">Comment</label>
												<textarea rows="8" name="comment" placeholder="Comment" id="comment"></textarea>
											</p>
											<p class="form-submit">
												<input type="submit" value="Post Comment" class="submit" id="submit" name="submit">
											</p>
										</form>
									</div>
								</div>

							</div>
                        </div>
                    </div>
					
					
				</div>
            </div>
            <!-- Product details -->
        </div>
        <!-- contact area  END -->
    </div>
    <!-- Content END-->
<!-- JavaScript  files ========================================= -->
<% include ../../partial/footer%>